@import "./variables.scss" ;

*{      
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

.logoweb {
    width: 30px;
    height: 60px;
    
}
.navegador{
    background-color:$backgroundColor;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    ul {
        list-style: none;
        display: flex;
        li a{
            color: beige;
            text-decoration: none;
            display: block;
            padding: 10px;
        }
        }
    
}

.nav-link:hover {
    color:$colorUno;
}
.carousel-item img{
    object-fit: cover;
    object-position: center;
    height: 70vh;
    overflow: hidden;
  }

.inicio{
    padding-top: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    align-items: center;
  
}

.imglarga{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.productos { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 4rem;
    background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.tarjeta{
    width: 260px;
    background-color:$colorDos;
    margin: 20px;
    padding: 20px;
    border: 5px solid $colorDos;
    border-radius: 5px;
    border-top: 10px #3d19b6 solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color:#fff;
    box-shadow: #0F2027;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: all .3s linear;
        -webkit-box-shadow: 5px 7px 24px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 5px 7px 24px -6px rgba(0,0,0,0.75);
        box-shadow: 5px 7px 24px -6px rgba(0,0,0,0.75);


    }
    img {
        width: 100%;
        object-fit: cover;
        height: auto;
    }
}
.piedepagina {
    background-color: aquamarine;
    color: black;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;


}

.mapapie{
    width: fit-content;
}


.botoncomprar{
    background-color: #3d19b6;
    color: #fff;
    padding: 1rem;
    margin: 5px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
    &:hover{
        background-color: $colorTres;
    } 
   
  
    
}

.botonCompartir {
    width: min-content;
    background-color: #3d19b6;
    color: #fff;
    padding: 1rem;
    margin: 5px;
    border: none;
    border-radius: 5px;
    
   
 
 

}

